<div style="border: 5px solid grey" class="container-fluid" data-bind="with: questions()[0]">
    <!--
    <ol class="list-group" data-bind="foreach: questions">
    <li class="list-group-item" data-bind="text: questionTitle"></li>
    </ol>
    
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    -->

    <div style="border: 2px solid green">
        <div data-bind="text: questionTitle"></div>
    </div>
    <div >
        <div data-bind="text: questionScore"></div>
    </div>
    
</div>