<!-- col-lg-8 col-lg-offset-2 -->
<div style="border: 5px solid grey" class="container-fluid col-lg-10 col-lg-offset-1" data-bind="with: questions()[0]">
    <div class="row">
        <div style="border: 2px solid yellow" class="text-left col-xs-2">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                Single toggle
            </button>
        </div>
        <div style="border: 2px solid green" class="col-xs-10">
            <h1 data-bind="text: questionTitle"></h1>
        </div>
    </div>
    <div class="row">
        <div style="border: 2px solid red" class="col-xs-2 col-lg-2">
            Score <span data-bind="text: questionScore"></span>
        </div>
        <div style="border: 2px solid purple" class="col-xs-12 col-lg-10">
            <span data-bind="text: questionText"></span>
        </div>
    </div>
</div>